@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --firstfont: "Grand Hotel", cursive;
    --secondfont: "Catamaran", sans-serif;
    --primarycolor: #49afe2;
    --background:  #698f3f;
    --letterspace: 0.4rem;
}

body {
    background-image: url('../images/bg-intro-desktop.png');
    background-color: var(--background);
    font-family: var(--secondfont);
}

.container {
     /* position: absolute; 
     left: 50%;
     top: 50%; 
     transform: translate(-50%, -50%);   */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    padding: 0px 30px 10px;
    border-radius: 0.3rem;
}

input {
    width: 100%;
    height: 100%;
    padding: 18px;
    border-radius: 10px;
    border-style: none;
    outline: none;
}

.card-intro {
  margin: 20px;
  color:  #49afe2; 
  text-transform: capitalize;
}

.btn {
    width: 100%;
    background: linear-gradient(to right, #49afe2, #698f3f);
    padding: 20px 0;
    color: white;
    font-size: 30px;
    font-family: var(--firstfont);
    border-radius: 10px;
    opacity: 20px;
    border-color:#698f3f;
    border-style: hidden;
    letter-spacing: var(--letterspace);
    outline: 0.2rem solid var(--primarycolor);
    outline-offset: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    transform: translateY(-3px);
}
.btn:hover {
    background: var(--primarycolor);;
}

#form {
    background-color: rgb(226, 226, 226);
    padding: 0 70px 40px 64px;
    border-radius: 2rem;
}

.intro {
    text-align: center;
    font-family: var(--secondfont);
    color: #698f3f;
    letter-spacing: var(--letterspace);
    margin-top: -5px;
    text-transform: uppercase;
}

.card-intro-m {
    display: none;
}

fieldset{
   border-radius: 10px;
   position: relative;
}
legend {
    font-family: var(--firstfont);
    color: var(--background);
    text-transform: capitalize;
    letter-spacing: var(--letterspace);
}

.icon{
    position: absolute;
    display: block;
    color: var(--primarycolor);
    right: 10%;
    padding-top: 2%;
}

.mistake {
    display: block;
    text-align: right;
    color: red;
}

.mistake fieldset{
    border-color: red;
}

.mistake legend{
    display: block;
    text-align: left;
    color: red;
}

@media screen and (max-width: 702px) {
    #form {
        background-color: rgb(226, 226, 226);
        width: 80vw;
    }

    .card-intro-m {
        font-size: 3rem;
        text-align: center;
        display: block;
        color: var(--primarycolor);
        letter-spacing: var(--letterspace);
        font-family: var(--firstfont);
      }

      .card-intro {
        display: none;
      }
}